* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   display: flex;
   justify-content: center;
   height: 100vh;
   font-family: sans-serif;
}

.container {
   height: 850px;
   width: min-content;
   display: flex;
   align-self: center;
   justify-content: center;
   gap: 15px;
   background-color: #003;
}

.column-img {
   background-color: #001;
   padding: 0 24px;
   align-content: center;
}

.column-form {
   display: flex;
   flex-direction: column;
   height: 630px;
   width: 570px;
   border-radius: 4px;
   padding: 0 20px;
}

h1 {
   margin-bottom: 28px;
   width: 300px;
   font-style: normal;
   font-size: 36px;
   color: #333;
   padding-bottom: 6px;
   border-bottom: solid 4px #006;
   margin-top: 28px;
   color: #ddf;
   text-align: center;
   align-self: center;
}

label {
   font-size: 24px;
   font-weight: 600;
   color: #bbf;
}

input {
   height: 34px;
   padding-left: 12px;
   border: 2px solid #999;
   margin: 8px 0 26px;
   display: flex;
   font-size: 22px;
   color: #002;
   background-color: #fff;
}

input:focus {
   border: 2px solid #aaf;
   outline: 0;
}

.btn {
   width: min-content;
   height: 52px;
   display: flex;
   justify-content: center;
   background-color: #090;
   border: solid 2px #ddd;
   color: #fff;
   font-weight: 600;
   font-size: 24px;
   padding: 0 20px;
}

.btn:hover {
   cursor: pointer;
   background-color: #060;
   color: #eee;
}

pre {
   font-size: 26px;
   color: #eef;
}

